.footer {
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    padding: 20px;
    background: #005695;

    &__phone {
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.86);
    }

    &__socials {
      display: flex;
      gap: 4px;
    }
  }

  &__end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 68px;
    background: #232020;
    font-size: 15px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
  }
}
